<style>
    md-whiteframe {
        width: 50%;
        margin: 15px;
        padding: 20px;
        height: 40vh;
    }
</style>

<div layout="row" layout-align="center start">
    <md-whiteframe class="md-whiteframe-5dp" layout="column">
        <h1>Zeiterfassung vom Feinsten</h1>
        <div>Natürlich erdacht an der HTL Rennweg...</div>

        <div flex></div>

        <div layout="row" layout-align="end start">
            <md-button class="md-primary md-raised"
                       align="flex-end flex-end"
                       ui-sref="eintraege">Zeiten erfassen</md-button>
        </div>

    </md-whiteframe>
</div>